@import url(./root.css);

.main__nav {
	background: linear-gradient(-45deg,  var(--yellowF), var(--blueF), var(--greenF), var(--pinkF), var(--purpleF));
	background-size: 300% 300%;
	animation: gradient 20s ease-in-out infinite;
	/* transition: background 0.3s; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


