@import url(./root.css);
form {
    width: inherit;
    overflow: hidden;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    resize: none;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    resize: none;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

textarea {
    height: 150px;
}

input[type=submit] {
    background-color: var(--fg);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: var(--fgF);
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}