@import url(./root.css);

/* @media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

    
} */


/* Small mobile devices (screen width <= 480px) */
@media (max-width: 600px) {

    .card__title--wrapper {
        height: 10vh;
    }

    .card__content--wrapper {
        flex-direction: column;
        height: 80vh;
        padding-top: 3rem;
    }

    .card__image {
        max-width: 100%;
        min-height: 50%;
        object-fit: cover;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

    /* Safari */

    .card__content--wrapper {
        max-height: 531.211px;
        aspect-ratio: auto;
    }

    .faq__wrapper {
        height: 100%;
    }
  
    @media (max-width: 600px) {
        

        .card__title--wrapper {
            height: 10vh;
        }
    
        .card__content--wrapper {
            flex-direction: column;
            height: 80vh;
        }
    
        .card__image {
            max-width: 100%;
            min-height: 50%;
            object-fit: cover;
        }
    }
}

/* Small desktop screens (screen width 992px - 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Add your styles here */
}

/* Large desktop screens (screen width >= 1200px) */
@media (min-width: 1200px) {
    /* Add your styles here */
}